# Tools
SCRIPT_FULLNAME=`readlink -f $0`
PYSCRIPT_FOLDER="/12TBLVM/Data/MinhTri/B_PUBLIC_SCRIPTS"
FASTQC="/usr/local/bin/fastqc"
BWA="/12TBLVM/biotools/bwa-0.7.12/bwa"
SAMTOOLS="samtools"
SAMSTAT="/12TBLVM/biotools/samstat-1.5/samstat-1.5.1/src/samstat"
LIFTOVER="/12TBLVM/biotools/liftOver"
PICARD="/12TBLVM/biotools/picard-tools-1.140/picard.jar"
GATK="/12TBLVM/biotools/GenomeAnalysisTK-3.3-0/GenomeAnalysisTK.jar"
GATK_TO_GVCF="/12TBLVM/biotools/gvcftools-0.16/bin/gatk_to_gvcf"
VEP="/12TBLVM/biotools/VEP79/ensembl-tools-release-79/scripts/variant_effect_predictor/variant_effect_predictor.pl"
VEP_STRANDSELECTOR="python3 ${PYSCRIPT_FOLDER}/VEPAnnotationSelector_1.1.9.py" 
VEP_FORMATTOR="python3 ${PYSCRIPT_FOLDER}/VAS_Formatter_1.0.5.py"
COMPARE_MSE="python3 ${PYSCRIPT_FOLDER}/compareMouse.py"
IDENTIFYMOUSE="python3 ${PYSCRIPT_FOLDER}/identify_mouse.py"
VARLIST="python3 ${PYSCRIPT_FOLDER}/varList.py"

# Database
HG_REF="/12TBLVM/Data/hg19-2/hg19_1toM/hg19_1toM.fa"
MSE_REF="/12TBLVM/Data/mm_10/BALB_cJ.chromosome.fa.gz"
TARGET_REGIONS="/NextSeqVol/NexteraRapidCapture_Exome_TargetedRegions_v1.2Used.bed"

# File names 
HU_SORTED="${BASE_NAME}.sorted" 
HU_METRICS_FILE="${BASE_NAME}.metrics.picard"
HU_BAMFILE="${BASE_NAME}.bam" 
HU_NAMESORTED="${BASE_NAME}.namesorted.bam" 
HU_UNALNED="${BASE_NAME}_unaligned.bam"
ALL_VARIANTS="${BASE_NAME}.all_variants.vcf"
QUAL_FILTERED="${BASE_NAME}.qual_filtered.vcf"
PASS_EXTRACTED="${BASE_NAME}.PASS_extracted.vcf"
VEP_ANNO="${BASE_NAME}.annotated.vcf"
VEP_CHOOSESTRAND="${BASE_NAME}.choosestrand.txt"
VEP_FORMATTED="${BASE_NAME}.formatted.txt"
VAR_LIST="${BASE_NAME}.var_list.bed"
MSE_VAR_LIST="${BASE_NAME}.mse_varlist.bed"
UNMAPPED="${BASE_NAME}.unmapped_varList.bed"
ALLVAR_LIST="${BASE_NAME}_all_unfiltered.txt"
ASNMAF_LIST="${BASE_NAME}_asn_maf.txt"
VAR_REPORT="${BASE_NAME}_variant_count_report.txt"

MSE_BAMFILE="${BASE_NAME}.mse.bam"
MSE_NAMESORTED="${BASE_NAME}.mse_namesorted.bam"
SUBSTRACTED_SAM="${BASE_NAME}.namesorted.substracted.sam" 
SUB_SORTED="${BASE_NAME}.namesorted.substracted_sorted.bam" 
SS_ALL_VARIANTS="${BASE_NAME}.all_variants.substracted.vcf"
SS_QUAL_FILTERED="${BASE_NAME}.qual_filtered.substracted.vcf"
SS_PASS_EXTRACTED="${BASE_NAME}.PASS_extracted.substracted.vcf"
SS_VEP_ANNO="${BASE_NAME}.annotated.substracted.vcf"
SS_VEP_CHOOSESTRAND="${BASE_NAME}.choosestrand.substracted.txt"
SS_VEP_FORMATTED="${BASE_NAME}.human_only.txt"
MSE_POSSIBLE="${BASE_NAME}.mouse_possible.txt"

# Read groups
RG="@RG\tID:{0}\tLB:Nextera_Rapid_Capture_Enrichment\tPL:ILLUMINA-NextSeq500\tPU:@NS500768\tSM:${BASE_NAME}\tCN:CTRAD-CSI_Singapore\tDS:NIL\tDT:20150519"

# Functions
start_time=$(date +%s)
last_time=$(date +%s)

function getTime {
	hours=$[ $1 / 3600 ]
	minutes=$[ $[$1 % 3600] / 60]
	seconds=$[ $[$1 % 3600] % 60]
	echo "${hours}:${minutes}:${seconds}"
}

function run {
	echo >> ${LOG_FILE}
	
	timenow=`date +"%Y-%m-%d %H:%M:%S"`
	echo "$timenow Process: $1" >> ${LOG_FILE}
	eval $1
	
	if [ $? -ne 0 ]; then
		echo " + Process fails with status $?" >> ${LOG_FILE}
		echo >> $LOG_FILE
		echo "Script exits on $(date)" >> ${LOG_FILE}
		exit
	fi
	
	time_elapsed=$[ `date +%s` - $last_time ]
	last_time=$(date +%s)
	echo " ++++++++ Process runtime: $(getTime $time_elapsed)" >> ${LOG_FILE}
}

function time_total {
	echo >> $LOG_FILE
	
	time_elapsed=$[ `date +%s` - $start_time ]
	echo "Total time elapsed : $(getTime $time_elapsed)" >> ${LOG_FILE}
}
